*{
    background-color: rgb(14, 14, 14);;
    padding: 0;
}
.teste{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 925px;
    /* border: 1px solid red; */
}